{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@AppBundle/Resources/public/css/*' debug=false filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" >
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h2 class="itemNameVideo">{{ item.__toString }}</h2>
    <div class="listItem">
        <a href="{{ path('collectionList') }}">
            {% include '@App/small_image.html.twig' %}
        </a>
        {% include '@App/btns.html.twig' %}
    </div>
    <div class="description">{{ item.descriptionOfficial }}</div>
    <div class="description">{{ item.descriptionMy }}</div>
{% endblock %}